@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  "Poppins", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-image: url(/assest/hero.jpg);
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    column-gap: 10px;
    background-color: rgba(150, 55, 0, 0.795);
    color: white;
    font-weight: normal;
}
nav p{
    cursor: pointer;
}
nav p:hover{
    color: rgba(255, 255, 255, 0.808);
}
main{
    min-height: 14rem;
    color: white;
    padding-inline-start: 1rem;
}
main h1{
    font-size: 3rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
main button{
    padding: 1rem;
    border: none;
    background-color:rgb(236, 93, 10) ;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
main button:hover{
    background-color: rgba(150, 55, 0, 0.795);
}
section{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-inline: 10px;
    background-color: rgba(150, 55, 0, 0.795);
    min-height: 15rem;
}
section h3{
    position: absolute;
    top: 1rem;
    left: 9rem;
}
section img{
    width: 100px;
    height: 100px;
}
.about{
    background-color: white;
    display: flex;
    max-height: 17rem;
    column-gap: 10px;
}
.about img{
    width: 60%;
}
.about p{
    overflow: scroll;
    font-size: 13px;
}
footer{
    display: flex;
    background-color: black;
    color: white;
    column-gap: 10px;
    padding: 10px;
}
.footer-info{
    padding-top: 13px;
}
@media only screen and (max-width: 2000px){
    section{
        display: flex;
        justify-content: space-around;
    }
    section h3{
        position: absolute;
        top: 8px;
        left: 44%;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
}